<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new post</title>
</head>
<body>
    <h1>Add new post</h1>
    <hr>
    <form action="/write" method="post"><br>
        <lable for="title">Title</lable><br>
        <input type="text" name="title" id="title"><br>
        <leble fot="content">Content</leble><br>
        <textarea name="content" id="content" cols="30" rows="10"></textarea><br>
        <button>Send</button><br>
    </form>
</body>
</html>